.ass2 {
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 10%;
    align-self: center;
}
.assif{
    margin-top: 10vh;
    margin-right: 15vh;
}

.assif iframe{
    background-color: #000;
    width: 800px; /* Set your desired width */
    height: 450px; /* Set your desired height */
}
.assbutton button{
    margin-top: 10vh;
    margin-right: 15vh;
}